@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
  color: #111827;
}

input, select, textarea {
  color: #111827 !important;
  background-color: #ffffff !important;
}

input::placeholder, textarea::placeholder {
  color: #9ca3af !important;
}
